#resumeContainer{
    display: flex;
    margin-top: 2rem;
    width: 80%;
    border: 1px solid black;
    box-shadow: 7px 6px 9px 0px rgb(50 50 50 / 75%);
}
#nameContainer{
    border-bottom: 2px solid white;
    width: 250px;
    height: 250px;
    display: grid;
    place-content: center;
}
#leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: black;
    padding-bottom: 4rem;
}
#leftSide h1,
#leftSide h2,
#leftSide h3,
#leftSide h4,
#leftSide p{
    color: white;
}
#leftSide h4{
    margin-top: 0;
}
#leftSide h3{
    margin-bottom: 0.2rem;
}
#rightSide{
    width: 750px;
    padding: 0.5rem;
    background-color: white;
}
#rightSide h2{
    border-bottom: 2px solid black;
}
#contactContainer{
    text-align: center;
}
.qual{
    grid-area: qual;
}
.edu{
    grid-area: edu;
}
.start{
    grid-area: sta;
}
.end{
    grid-area: en;
}
.qual2{
    grid-area: qual2;
    margin-bottom: 1rem;
}
.edu2{
    grid-area: edu2;
    margin-bottom: 1rem;
}
.start2{
    grid-area: sta2;
}
.end2{
    grid-area: en2;
}
#form{
    background-color: lightgrey;
    border-radius: 1rem;
    padding: 1.5rem;
    display: grid;
    grid-template-areas: 
        'qual qual qual'
        'qual2 qual2 qual2'
        'edu edu edu'
        'edu2 edu2 edu2'
        'sta . en'
        'sta2 . en2';
}
#rightSide .hidden{
    display: none;
}
.personalStatementInput input{
    height: 2rem;
}
.formData{
    display: grid;
    grid-template-areas: 
    'qual qual qual'
    'edu edu del'
    'sta . en';
}
.formData h3{
    margin-bottom: 0.3rem;
}
.formData span{
    margin-bottom: 0.3rem;
}
.formData button{
    display: grid;
    place-content: center;
    margin-right: 5rem;
    grid-area: del;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    justify-self: end;
    align-self: center;
}
html{
    background-color: lightgray;
    display: flex;
    justify-content: center;
}